body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f2f5;
  padding: 40px;
}

.blog-post-card {
  background-color: white;
  border-radius: 12px;
  width: 350px;
  border-radius: 12px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.post-img {
  width: 100%;
  border-bottom: 3px solid #f39c12;
}

.post-content {
  padding: 20px;
}

.post-title {
  color: #2c3e50;
  margin: 5px 0;
}

.post-excerpt {
  color: #555;
  margin: 20px 0 20px;
}

.read-more {
  text-decoration: none;
  color: white;
  background-color: #3498db;
  margin: 10px 0;
  padding: 10px 16px;
  border-radius: 6px;
  display: inline-block;
}

.read-more:hover {
  background-color: #2980b9;
}